$pink: #f42479ff;
$gray: #666;
$yellow: #f1c232;

.project__card,
.project__card-on-hover {
  cursor: pointer;
  display: inline-block;
  @media screen and (max-width: 980px) {
    width: 100%;
  }
  height: 50%;
  width: 50%;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
  }
}

.project__card-on-hover {
  position: relative;
  cursor: pointer;
  img {
    filter: hue-rotate(50deg);
  }
  .absolute {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    z-index: 5;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: aliceblue;
    background-color: $pink;
    opacity: 0.8;
    a {
      display: block;
      margin: 0 auto;
      margin-top: 1em;
      .github-icon__project-card {
        width: 8%;
      }
    }
  }
}
